name: yaru_window_linux
description: A Linux implementation of yaru_window.
repository: https://github.com/ubuntu-flutter-community/yaru_window.dart
issue_tracker: https://github.com/ubuntu-flutter-community/yaru_window.dart/issues
version: 0.1.3

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    implements: yaru_window
    platforms:
      linux:
        pluginClass: YaruWindowLinuxPlugin
