name: yaru_window
description: WIP
version: 0.1.0
publish_to: 'none'

environment:
  sdk: '>=2.19.0 <3.0.0'
  flutter: '>=3.7.0'

dependencies:
  flutter:
    sdk: flutter
  yaru_window_linux: ^0.1.0
  yaru_window_manager: ^0.1.0
  yaru_window_platform_interface: ^0.1.0
  yaru_window_web: ^0.1.0

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  plugin_platform_interface: ^2.1.3

flutter:
  plugin:
    platforms:
      linux:
        default_package: yaru_window_linux
      macos:
        default_package: yaru_window_manager
      web:
        default_package: yaru_window_web
      windows:
        default_package: yaru_window_manager
