name: yaru_window
description: Provides API for interacting with top-level windows.
repository: https://github.com/ubuntu/yaru_window.dart
issue_tracker: https://github.com/ubuntu/yaru_window.dart/issues
version: 0.2.1+1

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter
  yaru_window_linux: ^0.2.1
  yaru_window_manager: ^0.1.2+1
  yaru_window_platform_interface: ^0.1.2+1
  yaru_window_web: ^0.0.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  plugin_platform_interface: ^2.1.8
  ubuntu_lints: ^0.4.1+1

flutter:
  plugin:
    platforms:
      linux:
        default_package: yaru_window_linux
      macos:
        default_package: yaru_window_manager
      web:
        default_package: yaru_window_web
      windows:
        default_package: yaru_window_manager
