name: yaru_window_platform_interface
description: A common platform interface for yaru_window
repository: https://github.com/ubuntu/yaru_window.dart
issue_tracker: https://github.com/ubuntu/yaru_window.dart/issues
version: 0.1.2

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.8.0
  plugin_platform_interface: ^2.1.3

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
