name: yaru_window_manager
description: |
  A window_manager -based implementation of yaru_window for macOS and Windows.
repository: https://github.com/ubuntu-flutter-community/yaru_window.dart
issue_tracker: https://github.com/ubuntu-flutter-community/yaru_window.dart/issues
version: 0.1.2

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  window_manager: ^0.3.0
  yaru_window_platform_interface: ^0.1.1

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0

flutter:
  plugin:
    implements: yaru_window
    platforms:
      macos:
        dartPluginClass: YaruWindowManager
      windows:
        dartPluginClass: YaruWindowManager
