name: yaru_window_manager
description: |
  A window_manager -based implementation of yaru_window for macOS and Windows.
repository: https://github.com/ubuntu/yaru_window.dart
issue_tracker: https://github.com/ubuntu/yaru_window.dart/issues
version: 0.1.2+1

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=3.24.3"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  window_manager: ^0.5.1
  yaru_window_platform_interface: ^0.1.2+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  ubuntu_lints: ^0.4.1+1

flutter:
  plugin:
    implements: yaru_window
    platforms:
      macos:
        dartPluginClass: YaruWindowManager
      windows:
        dartPluginClass: YaruWindowManager
